<mat-card *ngIf="customer$ | async as customer" class="detail-card mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ customer.name }} {{ customer.lastName }}</h2>
    </mat-card-title>
    <mat-card-subtitle>{{ customer.email }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Direcciones</p>
    <ul>
      <li *ngFor="let address of customer.addresses">
        {{address.state}}, {{address.city}}, {{address.street}} - {{address.zip}}
      </li>
    </ul>

    <p>Telefonos</p>
    <ul>
      <li *ngFor="let phone of customer.phoneNumbers">
        {{ phone.number }}
      </li>
    </ul>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openRegisterPhoneNumberDialog()">Añadir teléfono</button>
    <button mat-raised-button color="primary" (click)="openRegisterAddressDialog()">Añadir dirección</button>
  </mat-card-actions>
</mat-card>
